body {
    background:  url(../images/es-arcoiris.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    text-align: left;
    font-size: 3em;
}

.input {
    height: 30px;
    display: block;
}

#nameCity {
    color: white;
    font-size: 100px;
}